.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #777;
    padding: 10px 15px;
    line-height: 1.2em;
    align-items: center;
}

.clear-completed-button {
    cursor: pointer;
    outline: none;
    border: 0;
    color: #4d4d4d;
    background: #d6d6d6;
    font-weight: 500;
    padding: 3px 5px;
    border-bottom: 1px solid #e6e6e6;
}